<section class="quienes-somos" id="quienes-somos">
  <h2 class="quienessomosh2">Quienes somos</h2>
  <article class="article article-marta">
    <div class="image-box">
      <img class="image" src="./assets/images/Marta-black-and-white.png" alt="" />
    </div>
    <div class="quienes-somos-text">
      <h5 class="our-name">Marta Castrillo</h5>
      <p class="bio">
        Editora de vídeo y diseñadora gráfica, también realizando otras labores
        como ayudante de dirección, ayudante de cámara y producción según la
        necesidad. Una persona enérgica, trabajadora, colaboradora, con ganas de
        aprender y muy motivada. Ahora mismo estudiando desarrollo web y todo lo
        que se le ponga por delante.
      </p>
      <ul class="icon-list">
        <li>
          <a class="icon" href="https://twitter.com/martscastrillo" title="¿Qué está pasando? Mira mis tweets"><i
              class="fa-brands fa-twitter"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="www.linkedin.com/in/marta-castrillo-gil"
            title="Aquí tienes toda mi experiencia laboral"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="https://github.com/martcastrillo" title="Chequea mis repos"><i
              class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="mailto:mart.castrillo@gmail.com" title="Mándame un mail"><i
              class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>
  <article class="article">
    <div class="image-box par">
      <img class="image" src="./assets/images/Ursula-black-and-white.png" alt="" />
    </div>
    <div class="quienes-somos-text par">
      <div class="our-name">
        <h5>Úrsula Borrego</h5>
      </div>
      <p class="bio par">
        Antropóloga sociocultural, con perspectiva de género. Abogando por la
        inclusión de las mujeres en el mundo tech, decidió tomar ella misma las
        riendas, actualizarse y ser Full Stack Developer. En continuo
        aprendizaje, con una suerte de compañeras en este camino, el futuro para
        ella solo acaba de empezar.
      </p>
      <ul class="icon-list">
        <li>
          <a class="icon" href="https://twitter.com/" title="¿Qué está pasando? Mira mis tweets"><i
              class="fa-brands fa-twitter"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="https://www.linkedin.com/in/ursulaborregotoledano/"
            title="Aquí tienes toda mi experiencia laboral"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="https://github.com/UrsulaBorrego" title="Chequea mis repos"><i
              class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="mailto:ursulaborrego@hotmail.com" title="Mándame un mail"><i
              class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>
  <article class="article">
    <div class="image-box">
      <img class="image" src="./assets/images/Vicky-black-and-white.png" alt="" />
    </div>
    <div class="quienes-somos-text">
      <h5 class="our-name">Virginia Menéndez</h5>
      <p class="bio">
        En su vida estar parada no es una opción. Se considero una persona muy
        curiosa, inquieta y dinámica, en busca siempre de nuevas experiencias y
        aprendizajes. Aborrece la rutina y por ello tan pronto está aprendiendo
        a cultivar sus propios alimentos como que se va a vivir a otro país o
        aprende programación web. Deseando saber dónde le lleva este nuevo
        camino.
      </p>
      <ul class="icon-list">
        <li>
          <a class="icon" href="https://twitter.com/" title="¿Qué está pasando? Mira mis tweets"><i
              class="fa-brands fa-twitter"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="https://www.linkedin.com/in/vicky-men%C3%A9ndez/"
            title="Aquí tienes toda mi experiencia laboral"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="https://github.com/VirginiaMSordo" title="Chequea mis repos"><i
              class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="mailto:vickysalas23@gmail.com" title="Mándame un mail"><i
              class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>
  <article class="article">
    <div class="image-box par">
      <img class="image" src="./assets/images/Yara-black-and-white.png" alt="" />
    </div>
    <div class="quienes-somos-text par">
      <h5 class="our-name">Yara Paz</h5>
      <p class="bio par">
        Antigua Traductora profesional de lengua inglesa, española, francesa y
        portuguesa y futura Programadora Front-End. Su pasión por el mundo de
        las lenguas y del aprendizaje la llevó a aventurarse a descubrir un
        nuevo lenguaje: el de la programación. Ahora Html y Css en mano no hay
        quien la pare maquetando páginas responsive.
      </p>
      <ul class="icon-list last">
        <li>
          <a class="icon" href="https://twitter.com/yara_musique?lang=en" title="¿Qué está pasando? Mira mis tweets"><i
              class="fa-brands fa-twitter"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="https://www.linkedin.com/in/yara-paz-gordillo-06956a11b/"
            title="Aquí tienes toda mi experiencia laboral"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="https://github.com/Yarap07" title="Chequea mis repos"><i
              class="fa-brands fa-github-alt"></i></a>
        </li>
        <li>·</li>
        <li>
          <a class="icon" href="mailto:yara.gordillo@gmail.com" title="Mándame un mail"><i
              class="fa-solid fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </article>
</section>