<section class="quienessomos" id="quienes-somos">
  <h2 class="quienessomosh2">Quienes somos</h2>

  <include src="./about-us*.html" image="./assets/images/Marta-black-and-white.png" name="Marta Castrillo" bio="Editora de vídeo y diseñadora gráfica, también realizando otras labores
  como ayudante de dirección, ayudante de cámara y producción según la
  necesidad. Una persona enérgica, trabajadora, colaboradora, con ganas de
  aprender y muy motivada. Ahora mismo estudiando desarrollo web y todo lo
  que se le ponga por delante." twitterlink="https://twitter.com/martscastrillo"
    linkedinlink="www.linkedin.com/in/marta-castrillo-gil" githublink="https://github.com/martcastrillo"
    mail="mart.castrillo@gmail.com">
  </include>

  <include src="./about-us*par.html" image="./assets/images/Ursula-black-and-white.png" name="Úrsula Borrego" bio="Antropóloga sociocultural, con perspectiva de género. Abogando por la
  inclusión de las mujeres en el mundo tech, decidió tomar ella misma las
  riendas, actualizarse y ser Full Stack Developer. En continuo
  aprendizaje, con una suerte de compañeras en este camino, el futuro para
  ella solo acaba de empezar." twitterlink="https://twitter.com/"
    linkedinlink="https://www.linkedin.com/in/ursulaborregotoledano/" githublink="https://github.com/UrsulaBorrego"
    mail="ursulaborrego@hotmail.com">
  </include>
  <include src="./about-us*.html" image="./assets/images/Vicky-black-and-white.png" name="Virginia Menéndez" bio="   En su vida estar parada no es una opción. Se considero una persona muy
  curiosa, inquieta y dinámica, en busca siempre de nuevas experiencias y
  aprendizajes. Aborrece la rutina y por ello tan pronto está aprendiendo
  a cultivar sus propios alimentos como que se va a vivir a otro país o
  aprende programación web. Deseando saber dónde le lleva este nuevo
  camino." twitterlink="https://twitter.com/" linkedinlink="https://www.linkedin.com/in/vicky-men%C3%A9ndez/"
    githublink="https://github.com/VirginiaMSordo" mail="vickysalas23@gmail.com">
  </include>
  <include src="./about-us*par.html" image="./assets/images/Yara-black-and-white.png" name="Yara Paz" bio="  Antigua Traductora profesional de lengua inglesa, española, francesa y
  portuguesa y futura Programadora Front-End. Su pasión por el mundo de
  las lenguas y del aprendizaje la llevó a aventurarse a descubrir un
  nuevo lenguaje: el de la programación. Ahora Html y Css en mano no hay
  quien la pare maquetando páginas responsive." twitterlink="https://twitter.com/yara_musique?lang=en"
    linkedinlink="https://www.linkedin.com/in/yara-paz-gordillo-06956a11b/" githublink="https://github.com/Yarap07"
    mail="yara.gordillo@gmail.com">
  </include>

</section>