<article class="article">
    <div class="image-box">
        <img class="image" src="@@image" alt="" />
    </div>
    <div class="quienes-somos-text">
        <h5 class="our-name">@@name</h5>
        <p class="bio impar">
            @@bio
        </p>
        <ul class="icon-list">
            <li>
                <a class="icon" href="@@twitterlink" title="¿Qué está pasando? Mira mis tweets" target="_blank"><i
                        class="fa-brands fa-twitter"></i></a>
            </li>
            <li>·</li>
            <li>
                <a class="icon" href="@@linkedinlink" title="Aquí tienes toda mi experiencia laboral" target="_blank"><i
                        class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li>·</li>
            <li>
                <a class="icon" href="@@githublink" title="Chequea mis repos" target="_blank"><i
                        class="fa-brands fa-github-alt"></i></a>
            </li>
            <li>·</li>
            <li>
                <a class="icon" href="mailto:@@mail" title="Mándame un mail" target="_blank"><i
                        class="fa-solid fa-envelope"></i></a>
            </li>
        </ul>
    </div>
</article>