<footer class="footer">
  <p class="copyright">Git branch heros ©️ 2022</p>
  <div class="container-footer">
    <nav>
      <ul class="nav-footer">
        <li><a class="link-footer" href="index.html#equipo">equipo</a></li>
        <li><a class="link-footer" href="index.html#quienes-somos">quienes somos</a></li>
        <li><a class="link-footer" href="contact.html#contacto">contacto</a></li>
      </ul>
    </nav>
    <div class="logo-adalab">
      <img
        class="logo-adalab-img"
        src="assets/images/logo-adalab.png"
        alt="logo adalab"
      />
    </div>
  </div>
</footer>