<section class="contact" id="contact">
  <h2 class="contact__title">Contacto</h2>
  <article class="contact__article">
    <p class="contact__article__p1">
      Si estás en peligro y necesitas contar con los servicios de una
      <span class="capitalize">git branch hero</span> no dudes en ponerte en
      contacto con nosotras a través de este formulario de contacto. Estaremos
      ahí antes de que te des cuenta.
    </p>
    <p class="contact__article__p2">
      Todos los campos marcados con <span class="asterisc">*</span> son
      obligatorios.
    </p>
  </article>
  <form action="url del servidor" method="post" class="form">
    <label for="nombre-completo" class="form__label form__label--name">
      <span class="form__label__text--name">Nombre completo <span class="asterisc">*</span>
      </span>
      <input class="form__input form__input--name" type="text" placeholder="Nombre..." name="nombre-completo"
        id="nombre-completo" required />
    </label>

    <div class="form__label--wrap">
      <label for="email" class="form__label form__label--mail">
        <span class="form__label__text--mail">Email <span class="asterisc">*</span>
        </span>
        <input class="form__input form__input--mail" type="mail" placeholder="nombre.apellidos@mail.com" name="email"
          id="email" required />
      </label>
      <label for="telefono" class="form__label form__label--phone">
        <span class="form__label__text--phone">Teléfono
        </span>
        <input class="form__input form__input--phone" type="tel" placeholder="Ej: 123456789" name="telefono"
          id="telefono" />
      </label>
    </div>

    <label for="mensaje" class="form__label form__label--message">
      <span class="form__label__text--message">Mensaje <span class="asterisc">*</span>
      </span>
      <textarea class="form__input form__input--message" id="mensaje" name="mensaje" rows="1" cols="80" required
        placeholder="¿Qué necesitas?"></textarea>
    </label>

    <button type="submit" class="form__button">Enviar</button>
  </form>
</section>