<section class="contacto" id="contacto">
  <h2 class="contacto-title">Contacto</h2>
  <article class="contacto-p">
    <p class="p1">
      Si estás en peligro y necesitas contar con los servicios de una
      <span class="capitalize">git branch hero</span> no dudes en ponerte en
      contacto con nosotras a través de este formulario de contacto. Estaremos
      ahí antes de que te des cuenta.
    </p>
    <p class="p2">
      Todos los campos marcados con <span class="asterisco">*</span> son
      obligatorios.
    </p>
  </article>
  <form action="url de la base de datos" class="form">
    <!--      url de la base de datos -->
    <label for="Nombre-completo" class="label">
      <span class="label-name"
        >Nombre completo <span class="asterisco">*</span>
      </span>
      <input
        class="input name"
        type="text"
        placeholder="Nombre..."
        id="Nombre-completo"
        required
      />
    </label>
    <label for="mail" class="label">
      <span class="label-mail">Email <span class="asterisco">*</span> </span>
      <input
        class="input mail"
        type="mail"
        placeholder="nombre.apellidos@mail.com"
        id="mail"
        required
      />
    </label>
    <label for="telefono" class="label">
      <span class="label-phone"
        >Teléfono <span class="asterisco">*</span>
      </span>
      <input
        class="input phone"
        type="text"
        placeholder="Ej: 123456789"
        id="telefono"
        required
      />
    </label>
    <label for="Mensaje" class="label">
      <span class="label-message"
        >Mensaje <span class="asterisco">*</span>
      </span>
      <input
        class="input message"
        type="text"
        placeholder="¿Qué necesitas?"
        id="Mensaje"
        required
      />
    </label>
    <button type="submit" class="button">Enviar</button>
  </form>
</section>
