<section class="index__hero">
  <h4 class="hero__banner">
    <span class="emphasize">
      «Una heroína es cualquier persona que trata de hacer del mundo un lugar
      mejor para vivir».</span>
    Maya Angelou
  </h4>
  <picture>
    <source srcset="\assets\images\main-hero-image-medium.png" media="(min-width: 320px)" />
    <source srcset="\assets\images\main-hero-image-large.png" media="(min-width: 768px)" />
    <img class="index__hero__image--small" src="\assets\images\main-hero-image-small.png"
      alt="Foto de rama con código" />
  </picture>
</section>