<section class="str-and-weak">
  <div class="str-and-weak__container div1">
    <h3 class="str-and-weak__title">Fortalezas</h3>
    <p class="str-and-weak__p">
      Trabajadoras y resolutivas, las
      <span class="capitalize">git branch heros</span> son unas auténticas
      heroínas del código. Mano a mano y como equipo fuertemente cohesionado son
      capaces de vencer a sus más fieros oponentes con tan solo un toque de su
      imparable código.
    </p>
  </div>
  <div class="str-and-weak__container div2">
    <h3 class="str-and-weak__title">Debilidades</h3>
    <p class="str-and-weak__p">
      No obstante, todo superhéroe tiene su Kryptonita. Las
      <span class="capitalize">git branch heros</span>
      pueden verse altamente debilitadas por su perfeccionismo, su persistencia
      y su alto sentido del compañerismo que las lleva a no dejar a ningún
      miembro del equipo atrás.
    </p>
  </div>
  <div class="str-and-weak__top-square"></div>
</section>