<section class="forts-y-debs">
  <div class="forts-y-debs-container box1">
    <h3 class="forts-y-debs-title">Fortalezas</h3>
    <p class="forts-y-debs-p">
      Trabajadoras y resolutivas, las
      <span class="p-capitalize">git branch heroes</span> son unas auténticas
      heroínas del código. Mano a mano y como equipo fuertemente cohesionado son
      capaces de vencer a sus más fieros oponentes con tan solo un toque de su
      imparable código.
    </p>
  </div>
  <div class="forts-y-debs-container box2">
    <h3 class="forts-y-debs-title">Debilidades</h3>
    <p class="forts-y-debs-p">
      No obstante, todo superhéroe tiene su Kryptonita. Las
      <span class="p-capitalize">git branch heroes</span>
      pueden verse altamente debilitadas por su perfeccionismo, su persistencia
      y su alto sentido del compañerismo que las lleva a no dejar a ningún
      miembro del equipo atrás.
    </p>
  </div>
  <div class="cuadrado-decorativo"></div>
</section>
