<section class="equipo" id="equipo">
  <h4 class="lema">
    <span class="“emphasized”">
      «Una heroína es cualquier persona que trata de hacer del mundo un lugar
      mejor para vivir».</span
    >
    Maya Angelou
  </h4>
  <h2 class="equipo-title">Equipo</h2>
  <div class="equipo-p">
    <p>
      Las <span class="p-capitalize">git branch heroes</span> son más que
      programadoras <span class="p-capitalize">front-end junior</span> en busca
      de reinventar sus vidas en el sector tecnológico. Son un verdadero equipo
      de heroínas dispuesto a salvar al mundo con su visión global, su alta
      experiencia en múltiples sectores y sus ganas y ansias de superación.
    </p>
    <p>
      Marta, Úrsula, Virginia y Yara, guiadas por la filosofía Ubuntu, luchan
      contra todo error y warning que la terminal pueda generar teniendo como
      principal premisa
      <span class="emphasize">nunca irse por las ramas</span>. Juntas son
      capaces de dar forma a cualquier página web, haya los media queries que
      haya, dejando siempre al cliente satisfecho.
    </p>
  </div>
</section>
