<section class="team" id="equipo">
  <h2 class="team__title">Equipo</h2>
  <div class="team__title__p">
    <p>
      Las <span class="capitalize">git branch heros</span> son más que
      programadoras <span class="capitalize">front-end junior</span> en busca de
      reinventar sus vidas en el sector tecnológico. Son un verdadero equipo de
      heroínas dispuesto a salvar al mundo con su visión global, su alta
      experiencia en múltiples sectores y sus ganas y ansias de superación.
    </p>
    <p>
      Marta, Úrsula, Virginia y Yara, guiadas por la filosofía Ubuntu, luchan
      contra todo error y warning que la terminal pueda generar teniendo como
      principal premisa
      <span class="emphasize">nunca irse por las ramas</span>. Juntas son
      capaces de dar forma a cualquier página web, haya los media queries que
      haya, dejando siempre al cliente satisfecho.
    </p>
  </div>
</section>