// fonts
$font-familyOpenSans: "Open Sans", sans-serif;
$font-familyRubik: "Rubik", sans-serif;

// colors
$color-black: #f3f4f5;
$color-light-grey-blue: #999;
$color-black: #000;
$color-light-grey-blue: rgba(184, 184, 185, 0.1);
$color-black-8: rgba(0, 0, 0, 0.08);
$color-aqua: #14d9c4;
$color-blue-green: #099d8d;
$color-white: #fff;
$color-cool-grey: #b8b8b9;
$color-gunmetal: #54585a;
