.quienessomosh2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--blue-green);
  font-family: var(--font-familyRubik);
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
  top: 90px;
  @media all and (min-width: 768px) {
    top: 0;
  }
  @media all and (min-width: 1200px) {
    top: 0;
  }
}
.quienessomos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (4, auto);
  margin: 0px 15px 0px 15px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 40%;
  background-color: var(--white);
  position: relative;
  top: 100px;
  @media all and (min-width: 768px) {
    top: 0;
    row-gap: 60px;
    grid-template-columns: auto;
    grid-template-rows: repeat (3, auto);

    margin-bottom: 60px;
    padding-top: 38px;
  }
  @media all and (min-width: 1200px) {
    top: 0;
    margin-top: 45px;
  }
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-self: center;
  justify-self: center;
  @media all and (min-width: 768px) {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
  }
}
/* .article.par{
  grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr ;
  
    margin-top: 41px;
background-color: orange;
} */

.image-box {
  align-self: center;
  justify-self: center;
  width: 180px;
  height: 180px;
  border: solid 5px var(--blue-green);
  border-radius: 4px;

  @media all and (min-width: 768px) {
    margin-right: 30px;
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    order: 0;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
    height: 278px;
  }
  &.par {
    @media all and (min-width: 768px) {
      margin-right: 0px;
      margin-left: 30px;
      order: 3;
    }
  }
  &:hover {
    transform: scale(1.1, 1.1);
    transition: transform 2s;
  }
}
.image {
  width: 100%;
}

.quienes-somos-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-familyOpenSans);

  @media all and (min-width: 768px) {
    align-items: flex-start;
    justify-content: center;
  }
}
.quienes-somos-text.par {
  @media all and (min-width: 768px) {
    align-items: flex-end;
  }
}

.our-name {
  font-size: 2rem;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
  color: var(--black);
  margin-top: 15px;
  /*  @media all and (min-width: 768px) {
    text-align: left;
  } */
}
.bio {
  text-align: center;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 24px;
  color: var(--gunmetal);
  @media all and (min-width: 768px) {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: normal;
  }
  &.impar {
    @media all and (min-width: 768px) {
      text-align: left;
    }
  }
  &.par {
    @media all and (min-width: 768px) {
      text-align: right;
    }
  }
}

.icon-list {
  margin-bottom: 15px;
  justify-self: center;
  width: 124px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  /*   @media all and (min-width: 768px) {
    text-align: left;
  } */
}

.icon {
  color: var(--blue-green);
  text-decoration: none;
  font-size: 1.6rem;
  &:hover {
    color: var(--aqua);
  }
}
