.main {
  width: 100%;
}
.contact__hero {
  width: 100%;
  height: 42vh;
  position: relative;
  bottom: 40px;
}
.contact__hero__image {
  width: 100%;
  height: 100%;
}
.contact {
  width: 100%;
  position: relative;
  bottom: 40px;
  margin-top: 30px;
}
.contact__title {
  color: var(--blue-green);
  font-family: var(--font-familyRubik);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  text-transform: uppercase;
}
.contact__article {
  color: var(--gunmetal);
  font-family: var(--font-familyOpenSans);
  line-height: 1.5;
  padding-bottom: 58px;
  margin: 15px 15px 0px 15px;
}
.contact__article__p1 {
  font-size: 1.6rem;
  text-align: center;
  padding: 0px 14px;
}
.contact__article__p2 {
  font-size: 1.2rem;
  text-align: start;
  margin-top: 30px;
}
.capitalize {
  text-transform: capitalize;
}
.asterisc {
  color: var(--aqua);
}
.form {
  margin: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-family: var(--font-familyOpenSans);
  font-size: 1.4rem;
}
.label {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__label--name,
.form__label--mail,
.form__label--phone,
.form__label--message {
  color: var(--gunmetal);
  margin-bottom: 7px;
}
.form__input {
  color: var(--cool-grey);
  opacity: 0.4;
  border: 1.5px solid var(--gunmetal);
}
.name {
  padding: 11px 209px 15px 15px;
}
.mail {
  padding: 7px 57px 16px 15px;
  font-size: 1.6rem;
  font-weight: 500;
}
.phone {
  padding: 11px 180px 15px 15px;
}
.message {
  padding: 11px 171px 75px 15px;
}
.form__button {
  width: 100%;
  height: 5.325443786982248vh;
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--blue-green);
  border: none;
  border-radius: 4%;
  margin-top: 17px;
  margin-bottom: 60px;
}
// FORM -TABLET
@media screen and (min-width: 320px) {
  .contact__article {
    margin: 0px 163px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__article__p1 {
    padding: 15px 30px;
  }
  .contact__article__p2 {
    margin-top: 20px;
  }
  .form {
    margin: 0px 163px 30px 163px;
  }
  .name {
    padding: 11px 209px 15px 15px;
  }
  .form__button {
    width: 45%;
    margin: 30px 0px 0px 244px;
  }
}

// FORM - DESKTOP
@media all and (min-width: 768px) {
  .contact__hero {
    height: 60vh;
  }
  .contact {
    margin-top: 45px;
  }
  .contact__article__p1 {
    padding: 15px 200px;
  }
  .form {
    margin: 0px 300px 30px 299px;
  }
  .name {
    padding: 11px 209px 15px 15px;
  }
  .form__label--wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
  }
  .label--mail,
  .form__input--mail {
    width: 60%;
  }
  .label--phone,
  .form__input--phone {
    width: 32.5%;
  }
  .phone {
    padding: 11px 0px 15px 15px;
  }
  .form__button {
    width: 45%;
    margin: 25px 0px 65px 330px;
  }
}
