.form {
  margin: 0% 4.5%;
  display: flex;
  flex-direction: column;
  font-family: $font-familyOpenSans;
  font-size: 1.4rem;
  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__text {
      &--name,
      &--mail,
      &--phone,
      &--message {
        color: $color-gunmetal;
        margin-bottom: 7px;
      }
    }
  }
  &__input {
    color: $color-cool-grey;
    opacity: 0.4;
    border: 1.5px solid $color-gunmetal;
    font-family: $font-familyOpenSans;
    margin-bottom: 13px;
    &--name {
      padding: 11px 0px 15px 15px;
    }
    &--mail {
      padding: 7px 0px 16px 15px;
      font-size: 1.6rem;
      font-weight: 500;
    }
    &--phone {
      padding: 11px 0px 15px 15px;
    }
    &--message {
      padding: 11px 0px 75px 15px;
    }
  }
  &__button {
    width: 100%;
    height: 5.325443786982248vh;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $color-blue-green;
    border: none;
    border-radius: 4%;
    margin-top: 17px;
  }
  @media screen and (min-width: 320px) {
    margin: 0% 21% 0% 21%;
    &__input {
      &--name {
        padding: 11px 0px 15px 15px;
      }
    }
    &__button {
      width: 50%;
      margin-top: 30px;
      margin-left: 50%;
    }
  }
  @media all and (min-width: 768px) {
    margin: 0% 25%;
    &__label {
      &--mail {
        width: 60%;
        margin-right: 7.2%;
      }
      &--phone {
        width: 32.5%;
      }
    }
    &__input {
      &--phone {
        padding: 11px 0px 15px 15px;
      }
    }
    &__label--wrap {
      display: flex;
      flex-wrap: wrap;
    }
    &__button {
      width: 45%;
      margin-top: 25px;
      margin-left: 54.7%;
    }
  }
}
