.index__hero {
  width: 100%;
  height: 50vh;
  background-image: url("http://beta.adalab.es/project-promo-r-module-1-team-7/assets/images/fondo-pagina-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  &__banner {
    background-color: $color-white;
    font-family: $font-familyOpenSans;
    color: $color-black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.39;
    text-align: start;
    padding: 14px 15px 16px 15px;
    padding: 6% 6% 6% 6%;
    margin: 0% 4.8% 0% 4.8%;
    position: absolute;
    top: 91%;
  }
  @media all and (min-width: 320px) {
    height: 58vh;
    &__banner {
      background-color: rgba(255, 255, 255, 0.8);
      top: 75%;
      left: 7.5%;
      padding: 2.5% 3% 2.5% 3%;
      margin: 0% 0% 0% 0%;
      width: 57.5%;
      height: 25%;
    }
  }
  @media all and (min-width: 768px) {
    height: 75vh;
    &__banner {
      width: 48%;
      height: 25%;
      top: 75%;
      left: 7.5%;
      padding: 2% 2.5% 2% 2.5%;
      font-size: 2.4rem;
    }
  }
}
