.equipo {
  width: 100%;
  padding: 30px 15px 30px 15px;
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lema {
  background-color: var(--white);
  font-family: var(--font-familyOpenSans);
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.39;
  text-align: start;
  padding: 14px 15px 16px 15px;
  margin: 0px 15px 0px 15px;
  position: absolute;
  bottom: 550px;
}
.emphasized {
  font-style: oblique;
}
.equipo-title {
  color: var(--aqua);
  font-family: var(--font-familyRubik);
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.88;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  top: 90px;
}

.equipo-p {
  font-size: 1.6rem;
  font-family: var(--font-familyOpenSans);
  line-height: 1.5;
  text-align: center;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  top: 75px;
}

.cuadrado-decorativo {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
  bottom: 545px;
  left: 145.2px;
}
