.team {
  width: 100%;
  padding: 30px 15px 30px 15px;
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__title {
  color: var(--blue-green);
  font-family: var(--font-familyRubik);
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.88;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  top: 50px;
}

.team__title__p {
  font-size: 1.6rem;
  font-family: var(--font-familyOpenSans);
  color: var(--gunmetal);
  line-height: 1.5;
  text-align: center;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  top: 38px;
}
// HERO & TEAM & STR-WEAK - TABLET
@media all and (min-width: 320px) {
  .team {
    padding: 0px 45px 30px 45px;
    bottom: 40px;
  }
  .team__title {
    top: 45px;
    margin-bottom: 15px;
  }
}
// HERO & TEAM & STR-AND-WEAK - DESKTOP
@media all and (min-width: 768px) {
  .team {
    padding: 0px 300px 30px 299px;
    bottom: 40px;
  }
}
