.team {
  width: 100%;
  padding: 0% 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 103px;
  &__title {
    color: $color-blue-green;
    font-family: $font-familyRubik;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.88;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4.5%;
  }
  &__ps {
    font-size: 1.6rem;
    font-family: $font-familyOpenSans;
    color: $color-gunmetal;
    line-height: 1.5;
    text-align: center;
    padding: 0% 5.5%;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  @media all and (min-width: 768px) {
    margin-top: 5.9%;
    margin-bottom: 7.9%;
    padding: 0% 6%;
    top: 0;
    &__title {
      margin-bottom: 2.5%;
    }
    &__ps {
      padding: 0%;
      gap: 30px;
      &__p2 {
        padding: 0% 7%;
      }
    }
  }
  @media all and (min-width: 1200px) {
    padding: 0% 25%;
    margin-top: 4%;
    margin-bottom: 5%;
    &__title {
      margin-bottom: 2.5%;
    }
  }
}
