.header {
  width: 100%;
  font-family: var(--font-familyRubik);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
}
.h1 {
  background-color: var(--blue-green);
  color: var(--white);
  font-size: 1.6rem;
  opacity: 0.95;
  width: 100%;
  height: 60px;
  line-height: 30px;
  text-align: center;
  padding: 15px 40px 15px 40px;
}
.h1a {
  text-decoration: none;
  color: var(--white);
  &:hover {
    color: #0e423e;
  }
}
.header-ul {
  list-style: none;
  background-color: var(--aqua);
  width: 100vw;
  height: 45px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 7px;
}
.header-nav-item {
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
  &:hover {
  color: #0e423e;
  &:active {
  color: #0e423e;
}
}
}






@media all and (min-width: 768px) {
  .header {
    background-color: var(--blue-green);
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .h1 {
    text-align: left;
    padding-left: 45px;
    width: 40%;
  }

  .header-ul {
    background-color: var(--blue-green);
    opacity: 0.95;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    padding-bottom: 10px;
  }
  .header-nav-item {
    padding: 10px;
  }
}