@media all and (min-width: 768px) {
  .header {
    background-color: var(--blue-green);
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .h1 {
    text-align: left;
    padding-left: 45px;
  }

  .ul {
    background-color: var(--blue-green);
    opacity: 0.95;
    height: 60px;
    width: 340px;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    padding-bottom: 10px;
  }
  /* --------------*/
   /* --------------*/
  .quienes-somos {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    background-color: var(--white);
    margin-left: 44px;
    margin-right: 44px;
    
  }
  .article{
  
    display: flex;
    flex-direction: row;
    justify-content:  stretch;
    align-items:  flex-start;
    flex-wrap: wrap;
    gap: 31px;
    background-color: orange;
    margin-top: 41px;
  }
  .image-box {
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .quienes-somos-text {
      align-items: flex-start;
      background-color: blue;
    }
    .our-name {
    
      line-height: normal;
     
    }
    .bio{
      text-align: justify;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      line-height: normal;
    }
    .icon-list {
      margin-bottom: 0px;
    }
  }
}
