@import "core/variables";
@import "core/reset";
@import "components/emphasize";
@import "components/capitalize";
@import "components/asterisc";
@import "layout/page";
@import "layout/main";
@import "layout/header";
// @import 'layout/footer';
@import "pages/indexhero";
@import "pages/team";
@import "pages/str-and-weak";
@import "pages/about-us";
@import "pages/contacthero";
@import "pages/contact";
@import "pages/form";

:root {
  /* Colores del proyecto */
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --white: #fff;
  --cool-grey: #b8b8b9;
  --gunmetal: #54585a;

  /* Tipografías */
  --font-familyOpenSans: "Open Sans", sans-serif;
  --font-familyRubik: "Rubik", sans-serif;
}

// HEADER Y FOOTER - MOBILE.CSS

/* A partir de aquí el header*/

/* a partir de aquí estilos footer */
.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 45px;
  border-top: solid 1px var(--cool-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px 30px;
}
.copyright {
  padding: 0px 40px;
  text-align: center;
  color: var(--cool-grey);
  font-size: 1.4rem;
  font-family: var(--font-familyOpenSans);
  text-transform: capitalize;
}
.nav-footer {
  padding-bottom: 30px;
  padding: 0px 90px;
  font-family: var(--font-familyOpenSans);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.43;
  opacity: 0.75;
}
.link-footer {
  display: flex;
  justify-content: center;
  color: var(--gunmetal);
  text-decoration: none;
  text-transform: uppercase;
}
.link-footer:hover {
  color: var(--blue-green);
}
.link-footer:active {
  color: var(--blue-green);
}
.logo-adalab {
  width: 115.9px;
  height: 45px;
  margin-left: 30%;
  margin-top: 30px;
}
.logo-adalab-img {
  width: 100%;
  height: 100%;
}

//   HEADER - TABLET.CSS

@media all and (min-width: 768px) {
  .header {
    background-color: var(--blue-green);
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .h1 {
    text-align: left;
    padding-left: 45px;
    width: 40%;
  }

  .header-ul {
    background-color: var(--blue-green);
    opacity: 0.95;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    padding-bottom: 10px;
  }
  .header-nav-item {
    padding: 10px;
  }
}

//FOOTER - TABLET.CSS

@media all and (min-width: 320px) {
  .copyright {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
  }
  .container-footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -12%;
    height: 13vh;
    gap: 10px;
  }
  .logo-adalab {
    width: 100%;
    margin-right: 40vw;
    margin-left: 3vw;
    margin-top: -1%;
  }
}

// FORM - MOBILE.CSS

/* A partir de aquí el footer */
.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 45px;
  border-top: solid 1px var(--cool-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px 30px;
}
.copyright {
  padding: 0px 40px;
  text-align: center;
  color: var(--cool-grey);
  font-size: 1.4rem;
  font-family: var(--font-familyOpenSans);
  text-transform: capitalize;
}
.nav-footer {
  padding-bottom: 30px;
  padding: 0px 90px;
  font-family: var(--font-familyOpenSans);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.43;
  opacity: 0.75;
}
.link-footer {
  display: flex;
  justify-content: center;
  color: var(--gunmetal);
  text-decoration: none;
  text-transform: uppercase;
}
.link-footer:hover {
  color: var(--blue-green);
}
.logo-adalab {
  width: 115.9px;
  height: 45px;
}
.logo-adalab-img {
  width: 100%;
  height: 100%;
}
