@import "components/asterisc";
@import "components/capitalize";
@import "components/emphasize";

@import "core/reset";
@import "core/variables";

@import 'layout/footer';
@import 'layout/header';
@import "layout/main";
@import "layout/page";

@import "pages/about-us";
@import "pages/contact";
@import "pages/contacthero";
@import "pages/form";
@import "pages/index";
@import "pages/indexhero";
@import "pages/str-and-weak";
@import "pages/team";


:root {
  /* Colores del proyecto */
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --white: #fff;
  --cool-grey: #b8b8b9;
  --gunmetal: #54585a;

  /* Tipografías */
  --font-familyOpenSans: "Open Sans", sans-serif;
  --font-familyRubik: "Rubik", sans-serif;
}


//   HEADER - TABLET.CSS

@media all and (min-width: 768px) {
  .header {
    background-color: var(--blue-green);
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .h1 {
    text-align: left;
    padding-left: 45px;
    width: 40%;
  }

  .header-ul {
    background-color: var(--blue-green);
    opacity: 0.95;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    padding-bottom: 10px;
  }
  .header-nav-item {
    padding: 10px;
  }
}