* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colores del proyecto */
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --white: #fff;
  --cool-grey: #b8b8b9;
  --gunmetal: #54585a;
  /* Tipografías */
  --font-familyOpenSans: "Open Sans", sans-serif;
  --font-familyRubik: "Rubik", sans-serif;
}
html {
  font-size: 62.5%;
}
.body {
  width: 100vw;
  min-height: 100vh;
}
.main {
  width: 100%;
}
/* a partir de aquí estilos header */

/* a partir de aquí estilos hero */
.hero {
  width: 100vw;
  background-color: var(--white);
}
.hero-image-container > img {
  width: 160%;
  height: 80%;
  position: relative;
  right: 28%;
}
.eslogan {
  width: 70%;
  height: 5%;
  position: absolute;
  top: 50%;
  left: 6%;
  font-family: var(--OpenSanssemibold);
  font-size: 1rem;
  font-weight: bold;
  line-height: 21px;
  text-align: start;
  background-color: var(--white);
  padding: 0px 15px;
  padding-top: 17px;
  margin-left: 15px;
  margin-right: 15px;
}
.equipo {
  width: 80%;
  height: 70vh;
  position: relative;
  top: 70px;
  left: 30px;
}
.equipo-title {
  margin-bottom: 15px;
  color: var(--aqua);
  font-family: var(--RubikMedium);
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
.equipo-p-container {
  margin: 0px 3px;
  font-size: var(--size-p);
  font-family: var(--OpenSansRegular);
  line-height: 23px;
  text-align: center;
}
.equipo-p {
  padding: 0px 2px;
  margin-top: 20px;
}
.pico-decorativo {
  width: 9%;
  height: 4%;
  transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  bottom: -26.5%;
  left: 45.5%;
  background-color: var(--white);
}
.forts-y-debs {
  background-color: rgba(57, 57, 60, 0.1);
  height: 66vh;
}
.fortalezas {
  margin: 10px 15px;
  position: relative;
  top: 8%;
  text-align: center;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.forts-y-debs-title {
  color: var(--blue-green);
  font-size: 1.375rem;
  font-family: var(--RubikMedium);
  font-weight: bold;
}
.forts-y-debs-p {
  color: var(--dark-grey);
  font-family: var(--OpenSansRegular);
  font-size: 1.1rem;
  padding: 10px;
}
.debilidades {
  margin: 10px 15px;
  position: relative;
  top: 9%;
  text-align: center;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* a partir de aquí estilos quienes somos */
.quienes-somos {
  color: var(--blue-green);
  font-family: var(--font-familyRubik);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--white);
}
.quienessomosh2 {
  align-self: center;
  margin-top: 30px;
  line-height: 45px;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-box {
  width: 180px;
  height: 180px;
  border: 5px;
  /* border: solid 5px rgba(0, 0, 0, 0.08); */
  border: solid 5px var(--blue-green);
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.image {
  width: 100%;
}
.quienes-somos-text {
  font-family: var(--font-familyOpenSans);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-name {
  font-size: 20px;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
  color: var(--black);
}
.bio {
  width: 290px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--gunmetal);
}

.icon-list {
  width: 124px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.icon {
  color: var(--blue-green);
  text-decoration: none;
  font-size: 16px;
}
.icon-list .last {
  margin-bottom: 45px;
}
/* a partir de aquí estilos footer */
