* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colores del proyecto */
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --black-8: rgba(0, 0, 0, 0.08);
  --aqua: #14d9c4;
  --blue-green: #099d8d;
  --white: #fff;
  --cool-grey: #b8b8b9;
  --gunmetal: #54585a;
  /* Tipografías */
  --font-familyOpenSans: "Open Sans", sans-serif;
  --font-familyRubik: "Rubik", sans-serif;
}
html {
  font-size: 62.5%;
}
.body {
  width: 100vw;
  min-height: 100vh;
}
.main {
  width: 100%;
}
/* a partir de aquí estilos header */

/* a partir de aquí estilos hero */
.hero {
  width: 100%;
  position: relative;
  bottom: 39px;
}
.hero-image {
  width: 100%;
  height: 100%;
}
.equipo {
  display: flex;
  flex-direction: column;
}
.equipo-lema {
  width: 90.625%;
  height: 9.467455621301776vh;
  background-color: var(--white);
  font-family: var(--font-familyOpenSans);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.39;
  position: absolute;
  top: 50%;
  text-align: start;
  padding: 0px 15px;
  padding-top: 13px;
  padding-bottom: 16px;
  margin-left: 15px;
}
.equipo-info {
  width: 100%;
  height: 65vh;
  padding: 0px 15px;
  padding-top: 35px;
}
.equipo-title {
  color: var(--aqua);
  font-family: var(--font-familyRubik);
  line-height: 1.88;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
.equipo-p {
  width: 90.625vw;
  height: 47.44378698224852vh;
  font-size: 1.6rem;
  font-family: var(--font-familyOpenSans);
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 8px;
}
.cuadrado-decorativo {
  background-color: var(--white);
  width: 9.3vw;
  height: 4vh;
  transform: rotate(45deg);
  position: absolute;
  z-index: 1;
  top: 122.5%;
  align-self: center;
}
.forts-y-debs {
  background-color: rgba(57, 57, 60, 0.1);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forts-y-debs-container {
  text-align: center;
  padding: 0px 20px;
}
.forts-y-debs-container.box1 {
  margin: 30px 0px;
  position: relative;
}
.forts-y-debs-container.box2 {
  margin-bottom: 45px;
}
.forts-y-debs-title {
  color: var(--blue-green);
  font-size: 2.2rem;
  font-family: var(--font-familyRubik);
  font-weight: 500;
  line-height: 2.05;
}
.forts-y-debs-p {
  color: var(--gunmetal);
  font-family: var(--font-familyOpenSans);
  font-size: 1.6rem;
  line-height: 1.5;
}

/* a partir de aquí estilos quienes somos */
.quienes-somos {
  width: 320px;
  height: 2225px;
  color: var(--blue-green);
  font-family: var(--font-familyRubik);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--white);
}
.quienessomosh2 {
  width: 193px;
  height: 45px;
  align-self: center;
  margin-top: 30px;
  line-height: 45px;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-box {
  width: 180px;
  height: 180px;
  border: 5px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.image {
  width: 100%;
}
.quienes-somos-text {
  font-family: var(--font-familyOpenSans);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-name {
  font-size: 20px;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
  color: var(--black);
}
.bio {
  width: 290px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--gunmetal);
}
.icon-list {
  width: 124px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.icon {
  color: var(--blue-green);
  text-decoration: none;
  width: 80%;
  font-size: 16px;
}
.icon-list .last {
  background-color: yellow;
  margin-bottom: 45px;
}
.footer{
  width: 100%;
  height: 34.62603878116344vh;
  padding: 30px 74px 45px;
  border: solid 1px var(--cool-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.copyright {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  padding-top: 30px;
  text-align: center;
  color: var(--cool-grey);
  font-size: 14px;
  font-family: var(--font-familyOpenSans);
  line-height: 1.43;
}
.main-nav-footer {
  width: 114px;
  height: 60px;
  margin: 20px 29px 30px;
  font-family: var(--font-familyOpenSans);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  opacity: 0.75;
}
.main-nav-footer-item {
  display: flex;
  justify-content: center;
}
.main-nav-footer-item a{
  color: var(--gunmetal);
  text-decoration: none;
}
.main-nav-footer-item a :hover{
  color: blue
}
.logo-adalab{
  width: 115.9px;
  height: 45px;
}
/*faltan ubicar exactamente las cajas*/
/*falta quizás cambiar px por vh/
